.no-permit {
    color: red !important;
    font-weight: bold;
    font-size: 16px;
}

.navbar .container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 200px;
    margin-left: 50px;
    width: 90%;
}